# Python data types

In [2]:
# Integers---------------int-------- 2, 4,300, 34
# Floating point---------float------ 2.5, 3.1, 100.875
# Strings ---------------str-------- 'hello', 'gurkirpal', 'parvaan'
# Lists -----------------list------- [24, 'kirpal', 23.2]
# Dictionaries ----------dict--------{'apple':12, 'banana':'India'}
# Tuples-----------------tup--------- (15, 'jana', 12.66)
# Sets ------------------set----------{'a', 'b'}
# Booleans---------------bool--------- True or False

### Numbers in Python

In [3]:
2+1

3

In [4]:
2*4

8

In [5]:
2-5

-3

In [6]:
6/3

2.0

In [7]:
7/4

1.75

In [8]:
2*9

18

In [10]:
# Modulus Operator
7%4

3

In [11]:
29 % 2

1

In [13]:
29/2

14.5

In [15]:
5**4

625

In [16]:
5 + 45 * 25 /4

286.25

In [17]:
(2/6) - 85 + 23 * 9

122.33333333333333

## Variable Assignment

In [19]:
a = 12

In [20]:
a + a

24

In [25]:
a = 10
b = a + a 
b

20

In [26]:
type(b)

int

In [27]:
b

20

In [29]:
c = b * 5.1 
c

102.0

In [30]:
type(c)

float

In [38]:
my_income = 2000
tax_rate = 0.15
my_tax= tax_rate * my_income
print(my_tax )

300.0

## Strings

In [40]:
a = 'hello'

In [41]:
a[2]

'l'

In [42]:
a[-1]

'o'

In [43]:
a[0:4:2]

'hl'

In [44]:
'I am learning data science'

'I am learning data science'

In [47]:
a = 'I am learning data science'
print(a)

I am learning data science

In [50]:
a = 'I am learning \n data science'
print(a)

I am learning
 data science

In [51]:
a = 'I am learning \ndata science'
print(a)

I am learning
data science

In [52]:
a = 'I am learning \tdata science'
print(a)

I am learning 	data science

In [53]:
len(a)

27

### Strings Index and slicing

In [56]:
a = 'I am learning data science'
a[7]

'a'

In [57]:
a[-6]

'c'

In [58]:
a[5:]

'learning data science'

In [59]:
a[:5]

'I am '

In [60]:
a[3:17]

'm learning dat'

In [61]:
a[4:25:2]

' erigdt cec'

In [62]:
a[::3]

'Imenga ic'

In [63]:
a[::-1]

'ecneics atad gninrael ma I'

## String Properties and Methods

In [64]:
name = 'Purkirpal'

In [68]:
new_name = 'G' + name[1:]
print(new_name)

Gurkirpal

In [69]:
new_name.upper()

'GURKIRPAL'

In [72]:
name = 'My name is Gurkirpal Singh' 
name.split()

['My', 'name', 'is', 'Gurkirpal', 'Singh']

In [75]:
name.split('r')

['My name is Gu', 'ki', 'pal Singh']

### Print formatting with strings

# Two methods to do print formatting:
   [1]  .format method()
   [2]   f-strings

In [80]:
print('My name is  {}'.format('Gurkirpal'))

My name is  Gurkirpal

In [81]:
print('{} is one of the major cities of {}'.format('Toronto', 'Canada'))

Toronto is one of the major cities of Canada

In [85]:
print('{2} is one of the major cities of {3} along with {0} and {1}'.format('Vancouver','Montreal','Toronto', 'Canada'))

Toronto is one of the major cities of Canada along with Vancouver and Montreal

In [86]:
print('{c} is one of the major cities of {d} along with {a} and {b}'.format(a='Vancouver', b= 'Montreal', c= 'Toronto', d ='Canada'))

Toronto is one of the major cities of Canada along with Vancouver and Montreal

In [88]:
result= 100/129

In [89]:
result

0.7751937984496124

### To calculate precision values

In [90]:
print('The result was {}'.format(result))

The result was 0.7751937984496124

In [97]:
print('The result was {r:1.3f}'.format(r = result))

The result was 0.775

In [98]:
print('The result was {r:1.7f}'.format(r = result))

The result was 0.7751938

### f-strings

In [101]:
name = 'Gurkirpal Singh'
print(f'I am {name}')

I am Gurkirpal Singh

In [103]:
name = 'Parvaan'
age = '2 months'
print(f'{name} is {age} old')

Parvaan is 2 months old

#### Just for fun

In [5]:
print('{} has taken care of {} very well'.format('Mama', 'Baby'))

Mama has taken care of Baby very well

In [6]:
print('{a} has taken care of {b} very well'.format(a='Mama', b='Baby'))

Mama has taken care of Baby very well

In [7]:
a= 'Mama'
b= 'Baby'
print(f'{a} has taken care of {b} very well')

Mama has taken care of Baby very well

### Lists

In [8]:
ml1 = [1,2,3]

In [9]:
ml2 = ['pal', 23.1, 88]

In [10]:
len(ml2)

3

In [11]:
ml2[2]

88

In [12]:
ml2[0:]

['pal', 23.1, 88]

In [13]:
ml2[1:]

[23.1, 88]

In [15]:
ml3 = ml1 + ml2
print(ml3)

[1, 2, 3, 'pal', 23.1, 88]

In [18]:
ml3[0] = 100

In [19]:
ml3

[100, 2, 3, 'pal', 23.1, 88]

In [30]:
ml3[5] = 'Parvaan'

In [31]:
ml3

[100, 2, 3, 'pal', 23.1, 'Parvaan']

In [32]:
ml3.append('Singh')
print(ml3)

[100, 2, 3, 'pal', 23.1, 'Parvaan', 'Singh']

In [33]:
ml3.pop()

'Singh'

In [34]:
ml3

[100, 2, 3, 'pal', 23.1, 'Parvaan']

In [35]:
ml3.pop(3)

'pal'

In [36]:
ml3

[100, 2, 3, 23.1, 'Parvaan']

In [37]:
ml3.pop(-2)

23.1

In [38]:
ml3

[100, 2, 3, 'Parvaan']

In [41]:
ml4 = [100, 2, 3, 'pal', 23.1, 'Parvaan', 'Banana']
ml4.pop(3)
print(ml4)

[100, 2, 3, 23.1, 'Parvaan', 'Banana']

In [43]:
ml4.pop(4)

'Parvaan'

In [44]:
ml4

[100, 2, 3, 23.1, 'Banana']

In [45]:
ml4.pop(4)

'Banana'

In [52]:
ml4.sort()
ml4

[2, 3, 23.1, 100]

In [53]:
ml4.reverse()

In [54]:
ml4

[100, 23.1, 3, 2]

In [55]:
ml4.remove(2)

In [56]:
ml4

[100, 23.1, 3]

### Dictionaries

In [60]:
dict1 = {'apple': 12, 'banana':11, 'pears': 26}

In [61]:
dict1['apple']

12

In [71]:
dict2= {'k1':12, 'k2':45, 'k3':{'k4':[4,5,6]}}

In [72]:
dict2['k2']

45

In [73]:
dict2['k3']

{'k4': [4, 5, 6]}

In [74]:
dict2['k3']['k4'][2]

6

In [84]:
dict3= {'k1':12, 'k2':45, 'k3':{'k4':[4,'c',6]}}

In [85]:
dict3['k3']['k4'][1].upper()

'C'

In [87]:
dict4 = {'k1':45, 'k2':78}

In [88]:
dict4['k3'] = 96

In [89]:
dict4

{'k1': 45, 'k2': 78, 'k3': 96}

In [90]:
dict4['k2'] = 15

In [91]:
dict4

{'k1': 45, 'k2': 15, 'k3': 96}

In [92]:
dict4.keys()

dict_keys(['k1', 'k2', 'k3'])

In [93]:
dict4.values()

dict_values([45, 15, 96])

In [94]:
dict4.items()

dict_items([('k1', 45), ('k2', 15), ('k3', 96)])

#### Tuples

In [96]:
tup1 = (1,2,3)

In [97]:
type(tup1)

tuple

In [98]:
len(tup1)

3

In [99]:
tup1[-1]

3

In [100]:
tup1[2]

3

In [101]:
tup2= ('a','a','a','b','b','c')

In [102]:
tup2.count('a')

3

In [103]:
tup2.count('b')

2

In [104]:
tup2.index('c')

5

### Sets in Python

In [115]:
myset1 = set()

In [116]:
myset1

set()

In [119]:
myset1.add(1)
print(myset1)

{1}

In [121]:
myset1.add(12)
print(myset1)

{1, 12}

In [122]:
myset1.add(12)

In [123]:
myset1

{1, 12}

In [126]:
lst =[1,1,2,3,3,4,5,6,6,6,6]
set(lst)

{1, 2, 3, 4, 5, 6}

#### Booleans

In [130]:
2 == 3

False

In [131]:
5 < 6

True

In [132]:
4 <= 7

True

In [133]:
True

True

In [134]:
False

False

In [135]:
type(False)

bool

In [1]:
a = 1
print(a)

1